.container
	& img
		width 100%

&.float
	display flex
	flex-direction column
	align-items center
	justify-content center
	width 200px
	height 200px
	background-color white
	border 1px solid rgba(0,0,0,0.75)
	border-radius 50%
	position fixed
	top 50%
	left 50%
	margin-top -100px
	margin-left -100px
	box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.75);
	& .login
		font-size 1.5em !important
	& .locale
		display flex
		& span
			cursor pointer
			width 80px
			text-align center
			text-decoration underline
