.container
	background-color transparent

.header
	display flex
	flex-direction row
	& .headerLeft
		flex 1
		display flex
		align-items center
	& .headerRight
		display flex
		align-items center

.item-primary-text
	display flex
	flex-direction row
	> :first-child
		flex 1
	> :last-child
		font-size .5em
		font-weight normal

.group-container
	display flex
	flex-direction column
	& .group-container-item-list
		flex 1
		overflow auto
