.container
	display flex
	flex-direction column
	padding-bottom 80px

.item-container
	flex 1

.input-container
	background-color #DEDEDE
	position fixed
	bottom 0
	left 0
	right 0
	height 50px
	padding 5px 20px

.header
	display flex
	flex-direction row
	& .tag-container
		flex 1
		padding-left 20px
		display flex
		align-items center
		& .tag-list
			display flex
			overflow auto
		& .tag
			margin-right 30px

.item
	margin 10px
	padding 25px
	display flex
	flex-direction row
	background-color #F6F6F6
	border-radius 5px

.sub-item
	margin-left 50px
	cursor pointer

.sub-sub-item
	margin-left 100px

.item-left
	margin-right 15px

.item-right
	flex 1

.item-header
	display flex
	flex-direction row
	margin-bottom 10px

.name
	flex 1
	font-size 1.2em
	font-weight bold

.datetime
	font-size .8em
	color #BEBEBE
